# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.swp
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache and temp files
.streamlit/ 

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Pyre
.pyre/
